$first-font: 'Star Wars', sans-serif;

html,
body {
    font-family: Inter, sans-serif;
}

.wrapper {
    padding-left: 6.25rem;
    padding-right: 6.25rem;
}

h1 {
    font-family: "Star Wars", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin: 6rem auto;
}